:root {
    --title-height: 160px;
    --title-logo-width: 160px;
    --title-logo-height: 160px;
    --title-logo-margin: 10px;
    --primary-nav-bar-height: 40px;
    --title-text-color: rgb(242, 242, 242);
    --sub-title-text-color: rgb(212, 212, 212);
    --title-div-bg-color: rgb(40, 40, 40);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    margin: 0;
    background-color: white;
}

.title_div {
    /*noinspection CssInvalidFunction*/
    background-color: var(--title-div-bg-color);
    padding-left: 27.64%;
    padding-right: 27.64%;
    overflow: auto;
    position: relative;
}

.title_logo_div {
    /*noinspection CssInvalidFunction*/
    width: var(--title-logo-width);
    /*noinspection CssInvalidFunction*/
    height: var(--title-logo-height);
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    /*noinspection CssInvalidFunction*/
    margin: var(--title-logo-margin);
    float: left;
}

.title_text_div {
    margin: auto;
    /*noinspection CssInvalidFunction*/
    padding-top: calc(var(--title-height) / 2.618);
}

.logo {
    display: block;
    /*noinspection CssInvalidFunction*/
    max-width: var(--title-logo-width);
    /*noinspection CssInvalidFunction*/
    max-height: var(--title-logo-width);
    width: auto;
    height: auto;
}

.title_text {
    /*noinspection CssInvalidFunction*/
    margin: 0px;
    font-family: "Garamond", "Geneva", sans-serif;
    font-size: 60px;
    /*noinspection CssInvalidFunction*/
    color: var(--title-text-color);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    letter-spacing: 0px;
}

.subtitle_text {
    /*noinspection CssInvalidFunction*/
    margin: 0px;
    font-family: "Magneto", "Geneva", sans-serif;
    font-size: 22px;
    /*noinspection CssInvalidFunction*/
    color: var(--sub-title-text-color);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    letter-spacing: 0px;
}

.primary_nav_bar {
    /*noinspection CssInvalidFunction*/
    background-color: var(--sub-title-text-color);
    list-style-type: none;
    left: 27.64%;
    margin: 0;
    padding: 0;
    position: relative;
    width: 44.72%;
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
}

.primary_nav_bar_item {
    display: inline;
    float: left;
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
    font-family: "Garamond", "Geneva", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
}

.primary_nav_bar_item_a {
    display: block;
    padding: 8px;
    /*noinspection CssInvalidFunction*/
    color: var(--title-div-bg-color);
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
    font-family: "Garamond", "Geneva", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
}

.primary_nav_bar_item_a:hover {
    /*noinspection CssInvalidFunction*/
    background-color: var(--title-div-bg-color);
    /*noinspection CssInvalidFunction*/
    color: var(--sub-title-text-color);
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
}

.primary_nav_bar_item_a_active {
    display: block;
    padding: 8px;
    /*noinspection CssInvalidFunction*/
    color: var(--sub-title-text-color);
    /*noinspection CssInvalidFunction*/
    background-color: var(--title-div-bg-color);
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
    font-family: "Garamond", "Geneva", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: center;
    letter-spacing: 0px;
    text-decoration: none;
}

.secondary_nav_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    /*noinspection CssInvalidFunction*/
    padding-top: calc(var(--title-height) + (2*var(--title-logo-margin)) + var(--primary-nav-bar-height));
    position: fixed;
    top: 0;
    height: 100%;
    width: 27.64%;
}

.secondary_nav_bar_item {
    display: block;
}

.secondary_nav_bar_item_a {
    display: block;
    padding: 8px;
    color: white;
    text-align: right;
    text-decoration: none;
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
}

.secondary_nav_bar_item_a:hover {
    background-color: #3282e6;
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
}

.secondary_nav_bar_item_a_active {
    display: block;
    padding: 8px;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #3282e6;
    /*noinspection CssInvalidFunction*/
    height: var(--primary-nav-bar-height);
}

.tree_div {
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 72.36%;
    height: 100%;
    width: 27.64%;
}

.tree_canvas {
    height: 100%;
    width: 100%;
    border: 3px dotted black;
}

.single_post_content_area_div {
    margin-top: 10px;
    margin-bottom: 10px;
    /*noinspection CssInvalidFunction*/
    background-color: white;
    padding: 10px;
    position: relative;
    left: 27.64%;
    height: auto;
    width: 44.72%;
    border-radius: 10px;
    /*noinspection CssInvalidFunction*/
    border-color: var(--title-div-bg-color);
    border-style: dotted;
    border-width: medium;
    font-family: "Marlett", "Geneva", sans-serif;
    font-size: 16px;
    /*noinspection CssInvalidFunction*/
    color: var(--title-div-bg-color/*--title-text-color*/);
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-align: left;
    letter-spacing: 0px;
    line-height: 22px;
}
